h1{
color:red;
text-align:center;
font-family:courier;
text-decoration: underline;
background-color:yellow;

}

body{background-color:black;color:white;
}
img:hover{
background-color: white;
}
}
p{
color:white;
background-color:black;
}
.chocolate{
background-color: red;
}
.ice{
background-color: green;
}
.cup{
background-color: blue;
}
.doughnut
{
background-color:purple;
}
#pop{
color: yellow;}
